.vs/
bin/
obj/
*.user
*.suo
*.db
*.db-shm
*.db-wal
docker-compose.override.yml
docker-compose.vs.debug.yml
docker-compose.vs.release.yml
.env
*.env
packages/
*.log
.idea/
.vscode/
*.pdb
*.ilk
publish/
out/
TestResults/
*.trx
.dotnet/